#googlemaps { 
  height: 100%; 
  width: 100%; 
  position:absolute; 
  top: 0; 
  left: 0; 
  z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
}
 
#contactform { 
  position: relative; 
  z-index: 1; /* The z-index should be higher than Google Maps */
  width: 300px;
  margin: 60px auto 0;
  padding: 10px;
  background: black;
  height: auto;
  opacity: .45; /* Set the opacity for a slightly transparent Google Form */ 
  color: white;
}

.item-body{
  padding-top: 0px;
}

.map-button-group{
  border-bottom: 1px solid #ddd;
  .row{
    text-align: center;
    i{
      margin: 0 auto;
    }
    p{
      margin: 0 auto;
      font-size: 12px;
      color: #e62b1e;
    }
  }
  .middle{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
  a{
    text-decoration: none;
  }
}

.sponsors{
  border-right: 1px solid #ddd;
  .row{
    text-align: center;
    i{
      margin: 0 auto;
      font-size: 32px;
    }
    p{
      margin: 0 auto;
      font-size: 16px;
      color: #e62b1e; 
    }
  }
}

.about-page{
  .banner{
    border-radius: 0px;
  }
  .list:last-child.card{
    margin: 0px;
  }
  .item-divider{
    //background-color: #e62b1e;
    //color: #fff;
    font-size:16px;
  }
  .item-body{
    font-size: 13px;
    padding-top: 16px;
  }
  .item-text-wrap{
    padding: 5px 16px 5px 16px;
    font-size: 12px;
  }
  .center-header{
    text-align:center;
    background-color: #444444;
    color: #fff;
  }
  .exec{
    h2{
      font-size:14px;
    }
    p{
      font-size: 12px;
    }
    padding: 5px 16px 5px 16px;
  }
}