.ion-social-twitter{
	color: #55acee;
}
.ion-social-facebook{
  color:#3b5998;
}
.ion-social-instagram-outline{
  color:#3f729b
}
.ion-social-youtube{
  color:  #cd201f
}

a.timeline-header{
	display:none;
}

.registration{
  .row{
    text-align: center;
    i{
      margin: 0 auto;
      font-size: 28px;
    }
    p{
      margin: 0 auto;
      font-size: 32px;
      color: #e62b1e; 
      line-height: 28px;
    }
  }
  a{
    text-decoration: none;
  }

}

.banner{
  box-shadow: none; 
  margin:0px 0px 10px 0px; 
  border-radius: 0px;
}

.list:last-child.card{
  margin: 0px;
}

.social{
  text-align:center;
  i{
    font-size: 28px;
  }
}