.schedule{
	.item-divider{
		text-align:center;
		padding: 15px 0px 15px 0px;
		background-color: white;
		p{
			font-size: 1.25em;
			color: #e62b1e;
			font-weight: 600;
		}
		span{
			font-size: 1em;
			font-style: italic;	
		}
		
	}
}