.item-speaker{
	.speaker-timestamp{
		position: absolute;
		top: 16px;
		right: 38px;
		font-size: 14px;
		color: #9A9898;
	}
}

.speaker-list{
	.item-thumbnail-left{
		min-height: 80px;
		padding-bottom: 0px;
		img{
			top: 0px;
			left: 0px;
			vertical-align: middle;	
		}
	}
	p{
		white-space: normal;	
	}
	h2{
		white-space: normal;
	}
}


.speaker{
	.speaker-picture{
		padding:0px;
		img{
			width: 100%;
		}
	}
	.speaker-header{
		border-top: 0px;
		text-align:center;
		h2{
			white-space: normal;	
		}
	}
	.speaker-contact{
		color: #e62b1e;
		a{
			text-decoration: none;
		}
		a:visited{
			color: #e62b1e;
		}
	}

}