.item-speaker{
	.speaker-timestamp{
		position: absolute;
		top: 16px;
		right: 38px;
		font-size: 14px;
		color: #9A9898;
	}
}

.speaker-list{
	text-align:center;
	a{
		color: #000000;
		text-decoration: none;
	}
	a:visited{
		color: #000000;
	}
	.col{
		.card{
			margin: 0px;
			position:relative;
		}
		img{
			width: 100%;
		}
		p{
			margin-bottom: 5px;
		}
	}
}

.speaker{
	.speaker-picture{
		padding:0px;
		img{
			width: 100%;
		}
	}
	.speaker-header{
		border-top: 0px;
		text-align:center;
	}
	.speaker-contact{
		color: #e62b1e;
		a{
			text-decoration: none;
		}
		a:visited{
			color: #e62b1e;
		}
	}


}