@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic);

body{
	
}

.red-polygon{
	background-image: url('red-polygon.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.assertive{
  color: #e62b1e;
}

.tabs-color-assertive{
  background-color: #e62b1e; 
}

.bar.bar-assertive{
  background-color: #e62b1e; 
}

.button.button-assertive{
  background-color: #e62b1e; 
}