@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic);

body{
	
}

.red-polygon{
	background-image: url('red-polygon.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

