<ion-view view-title="About">
  <ion-content class="red-polygon about-page">
  	
    <!--
  	<div class="card">
  		<div class="row">
  			<div class="col sponsors">
  				<div class="row">
	    			<i class="icon ion-android-contacts assertive"></i>
	    		</div>
	    		<div class="row">
	    			<p>Sponsors</p>
	    		</div>
  			</div>
  			<div class="col col-67">
	  			<ion-slide-box 
	  				auto-play="true" 
	  				does-continue="true"  
	  				show-pager="false">
	  			  <ion-slide>
	  			    <div class="box blue"><h1>Sponsor-1</h1></div>
	  			  </ion-slide>
	  			  <ion-slide>
	  			    <div class="box yellow"><h1>Sponsor-2</h1></div>
	  			  </ion-slide>
	  			  <ion-slide>
	  			    <div class="box pink"><h1>Sponsor-3</h1></div>
	  			  </ion-slide>
	  			</ion-slide-box>
	  		</div>
  		</div>
  	</div>

  	<div class="list card">
  	  <div class="item item-icon-left">
  	    <i class="icon ion-location assertive"></i>
  	    <h2>Wexner Center for the Arts</h2>
  	    <p>1871 N High St, Columbus, OH</p>
  	  </div>

  	  <div class="item item-body">
  	    <div class="row map-button-group">
  	    	<div class="col">
  	    		<div class="row">
  	    			<i class="icon ion-model-s assertive"></i>
  	    		</div>
  	    		<div class="row">
  	    			<p>Getting Here</p>
  	    		</div>
  	    	</div>
  	    	<div class="col middle">
  	    		<a href="http://tedx.osu.edu">
			    		<div class="row">
			    			<i class="icon ion-earth assertive"></i>
			    		</div>
			    		<div class="row">
			    			<p>Visit Website</p>
			    		</div>
  	    		</a>
  	    	</div>
  	    	<div class="col">
  	    		<div class="row">
  	    			<i class="icon ion-map assertive"></i>
  	    		</div>
  	    		<div class="row">
  	    			<p>Event Map</p>
  	    		</div>
  	    	</div>
  	    </div>

  	    <p>
  	      This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
  	      the content is from a card-body consisting of an image and paragraph text. The footer
  	      consists of tabs, icons aligned left, within the card-footer.
  	    </p>
  	  </div>

  	</div>
    -->
    <div class="list card banner">
      <div class="item item-image">
        <img src="logo-black.png">
      </div>
      <div class="item item-body">
        TEDxOhioStateUniversity is a student organization at Ohio State founded in 2011 and comprises of mainly undergraduate
        students and university faculty. It is locally funded by various sponsors at Ohio State and within Columbus. Student members organize an annual event comprising of TED Talk videos and live speakers from the greater Ohio State University community.
      </div>

      <div class="item item-divider center-header">
        Message from the Curator
      </div>

      <div class="item item-body">
        I am more than thrilled to see what this upcoming year has in store for TEDxOhioStateUniversity! After four years on campus, we are ready to take the TEDx experience to a new level this March 5, 2016 at the Mershon Auditorium. While we have many new and exciting things lined up for the year ahead, our organization still works under the mission of cultivating an event for students and city leaders who are passionate about challenging ideas and inspiring others. With this mission in mind, our team will work tirelessly to make this year’s event the best and most innovative the university has yet witnessed. I am confident that with the help of our outstanding partners, we will achieve these goals, allowing Ohio State University to join an international community of thinkers and doers. I could not be prouder to be a part of such an ambitious group of individuals, and I hope that you will join us along this exciting journey as we inspire OSU one idea worth spreading at a time.

        <p>Stephany Tabet, Curator</p>
      </div>

      <div class="item item-divider center-header">
        About TED
      </div>
      <div class="item item-body">
        TED is a nonprofit organization devoted to "ideas worth spreading". <a href="#" onClick="window.open('https://www.ted.com/', '_system');">Learn More&nbsp;<i class="icon ion-arrow-right-b"></i></a>
      </div>

      <div class="item item-divider center-header">
        About TEDx
      </div>
      <div class="item item-body">
        In the spirit of ideas worth spreading, TEDx is a program of local, self-organized events that bring people together to share a TED-like experience. <a href="#" onClick="window.open('https://www.ted.com/about/programs-initiatives/tedx-program', '_system');">Learn More&nbsp;<i class="icon ion-arrow-right-b"></i></a>
      </div>
      
      <div class="item item-divider center-header">
        Our Team
      </div>
      <div class="item item-divider">
        Executive Board
      </div>
      <div class="item exec" ng-repeat="e in execboard">
        <h2>{{e.name}}</h2>
        <p>{{e.title}}</p> 
      </div>
      <div ng-repeat="row in team">
        <div class="item item-divider">
          {{row.name}}
        </div>
        <div class="item item-text-wrap" ng-repeat="m in row.members">
          {{m}}
        </div>
      </div>
      <div class="item item-divider">
        Advisors
      </div>
      <div class="item exec item-text-wrap" ng-repeat="e in advisors">
        <h2>{{e.name}}</h2>
        <p>{{e.title}}</p> 
      </div>

      <div class="item item-body" style="border-top: 3px solid #444444">
        The TEDxOhioStateUniversity App for 2016 was designed and developed by <a href="#" onClick="window.open('http://www.ishmeetgrewal.com', '_system');">Ishmeet Grewal</a>.
      </div>

    </div>


  </ion-content>
</ion-view>