<ion-view view-title="About">
  <ion-content class="red-polygon about-page">
  	
    <!--
  	<div class="card">
  		<div class="row">
  			<div class="col sponsors">
  				<div class="row">
	    			<i class="icon ion-android-contacts assertive"></i>
	    		</div>
	    		<div class="row">
	    			<p>Sponsors</p>
	    		</div>
  			</div>
  			<div class="col col-67">
	  			<ion-slide-box 
	  				auto-play="true" 
	  				does-continue="true"  
	  				show-pager="false">
	  			  <ion-slide>
	  			    <div class="box blue"><h1>Sponsor-1</h1></div>
	  			  </ion-slide>
	  			  <ion-slide>
	  			    <div class="box yellow"><h1>Sponsor-2</h1></div>
	  			  </ion-slide>
	  			  <ion-slide>
	  			    <div class="box pink"><h1>Sponsor-3</h1></div>
	  			  </ion-slide>
	  			</ion-slide-box>
	  		</div>
  		</div>
  	</div>

  	<div class="list card">
  	  <div class="item item-icon-left">
  	    <i class="icon ion-location assertive"></i>
  	    <h2>Wexner Center for the Arts</h2>
  	    <p>1871 N High St, Columbus, OH</p>
  	  </div>

  	  <div class="item item-body">
  	    <div class="row map-button-group">
  	    	<div class="col">
  	    		<div class="row">
  	    			<i class="icon ion-model-s assertive"></i>
  	    		</div>
  	    		<div class="row">
  	    			<p>Getting Here</p>
  	    		</div>
  	    	</div>
  	    	<div class="col middle">
  	    		<a href="http://tedx.osu.edu">
			    		<div class="row">
			    			<i class="icon ion-earth assertive"></i>
			    		</div>
			    		<div class="row">
			    			<p>Visit Website</p>
			    		</div>
  	    		</a>
  	    	</div>
  	    	<div class="col">
  	    		<div class="row">
  	    			<i class="icon ion-map assertive"></i>
  	    		</div>
  	    		<div class="row">
  	    			<p>Event Map</p>
  	    		</div>
  	    	</div>
  	    </div>

  	    <p>
  	      This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
  	      the content is from a card-body consisting of an image and paragraph text. The footer
  	      consists of tabs, icons aligned left, within the card-footer.
  	    </p>
  	  </div>

  	</div>
    -->
    <div class="list card banner">
      <div class="item item-image">
        <img src="logo-black.png">
      </div>
      <div class="item item-divider center-header">
        About TEDx
      </div>
      <div class="item item-body">
        In the spirit of ideas worth spreading, TEDx is a program of local, self-organized events that bring people together to share a TED-like experience. At a TEDx event, TEDTalks video and live speakers combine to spark deep discussion and connection in a small group. These local, self-organized events are branded TEDx, where x = independently organized TED event. The TED Conference provides general guidance for the TEDx program, but individual TEDx events are self-organized. (Subject to certain rules and regulations.)
      </div>
      <div class="item item-divider center-header">
        About TEDxOSU App
      </div>
      <div class="item item-body">
        The TEDxOhioStateUniversity App for 2016 was designed and developed by <a href="#" onClick="window.open('http://www.ishmeetgrewal.com', '_system');">Ishmeet Grewal</a>.
      </div>
      <div class="item item-divider center-header">
        Our Team
      </div>
      <div class="item item-divider">
        Executive Board
      </div>
      <div class="item exec" ng-repeat="e in execboard">
        <h2>{{e.name}}</h2>
        <p>{{e.title}}</p> 
      </div>
      <div ng-repeat="row in team">
        <div class="item item-divider">
          {{row.name}}
        </div>
        <div class="item item-text-wrap" ng-repeat="m in row.members">
          {{m}}
        </div>
      </div>
      <div class="item item-divider">
        Advisors
      </div>
      <div class="item exec item-text-wrap" ng-repeat="e in advisors">
        <h2>{{e.name}}</h2>
        <p>{{e.title}}</p> 
      </div>
    </div>


  </ion-content>
</ion-view>