<ion-view view-title="TEDxOhioStateUniversity">
  <ion-content class="red-polygon">
  	
    <!--
  	<div class="card">
  		<div class="row">
  			<div class="col sponsors">
  				<div class="row">
	    			<i class="icon ion-monitor assertive"></i>
	    		</div>
	    		<div class="row">
	    			<p>Livestream</p>
	    		</div>
  			</div>
  			<div class="col sponsors">
          <div class="row">
            <i class="icon ion-person assertive"></i>
          </div>
          <div class="row">
            <p>My Profile</p>
          </div>
	  		</div>
  		</div>
  	</div>
    -->

    <div class="card banner">
      <div class="item item-image">
        <img src="banner-white.png">
      </div>
    </div>

    

    <div class="list card">
      <div class="item item-body">
        <p>
          Join TEDxOhioStateUniversity for our 5th annual event. This years theme, Reconstructing Reality, will feature students, faculty, staff, and alumni as speakers and performers who will inspire and challenge our concepts of science, technology, history, and life.
        </p>
        <div class="registration" style="width: 70%; margin:0 auto; text-align:center">
          <button ng-click="" class="button button-assertive ">Register Now</button>
        </div>
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-location assertive"></i>
        <h2>Wexner Center for the Arts</h2>
        <p>1871 N High St, Columbus, OH</p>
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-ios-clock assertive"></i>
        <h2>Saturday, March 5th, 2016</h2>
        <p>11 AM to 6 PM</p>
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-pricetags assertive"></i>
        <h2>Early Bird (until 1/31)</h2>
        <p>$15 (students), $25(non-students)</p>
        <h2>Regular (2/1 - 2/21)</h2>
        <p>$20 (students), $30(non-students)</p>
      </div>
    </div>

    <!-- Twitter Timeline
  	<div class="list card">
  	  <div class="item item-icon-left">
  	    <i class="icon ion-social-twitter"></i>
  	    <h2>@TEDxOhioStateU</h2>
  	  </div>

  	  <div class="item item-body" style="padding:0px;">

        <a class="twitter-timeline" href="https://twitter.com/TEDxOhioStateU" data-widget-id="674439532918530048">Tweets by @TEDxOhioStateU</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  	  </div>
  	</div>
    -->

  </ion-content>
</ion-view>