<ion-view view-title="TedXOhioStateUniversity">
  <ion-content class="red-polygon">
  	
  	<div class="card">
  		<div class="row">
  			<div class="col sponsors">
  				<div class="row">
	    			<i class="icon ion-monitor assertive"></i>
	    		</div>
	    		<div class="row">
	    			<p>Livestream</p>
	    		</div>
  			</div>
  			<div class="col sponsors">
          <div class="row">
            <i class="icon ion-person assertive"></i>
          </div>
          <div class="row">
            <p>My Profile</p>
          </div>
	  		</div>
  		</div>
  	</div>

  	<div class="list card">
  	  <div class="item item-icon-left">
  	    <i class="icon ion-social-twitter"></i>
  	    <h2>@TEDxOhioStateU</h2>
  	  </div>

  	  <div class="item item-body">

        <a class="twitter-timeline" href="https://twitter.com/TEDxOhioStateU" data-widget-id="674439532918530048">Tweets by @TEDxOhioStateU</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  	  </div>

  	</div>
  </ion-content>
</ion-view>