<ion-view view-title="Schedule">
  <ion-content>
    <div class="list">
      <!-- Chunk array on Controller and split accordingly -->
      <!-- Or filter array based on time -->

      <div class="item item-divider">
        10:00am Welcome
      </div>

      <a class="item item-avatar" href="#">
        <img src="face-1.jpg">
        <h2>Comedy in today's climate</h2>
        <p>11:00am</p>
      </a>

      <a class="item item-avatar" href="#">
        <img src="face-1.jpg">
        <h2>What would Jesus do?</h2>
        <p>11:30am</p>
      </a>

      <div class="item item-divider">
        12:00pm Lunch
      </div>

      <a class="item item-avatar" href="#">
        <img src="face-1.jpg">
        <h2>Coming to America</h2>
        <p>1:00pm</p>
      </a>

      <a class="item item-avatar" href="#">
        <img src="face-1.jpg">
        <h2>Beverly Hills Mullah</h2>
        <p>1:30pm</p>
      </a>

    </div>
  </ion-content>
</ion-view>