<ion-view title="Sign Up">
    <ion-content padding="'true'" scroll="false" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input" name="signup-name">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" name="signup-email">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="">
                </label>
                <label class="item item-input" name="signup-password">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <button class="button button-balanced button-block ">Sign Up</button>
            <a menu-close="" href="#/login" class="button button-positive button-clear button-block ">Or Login</a>
            <div class="button-bar">
                <button class="button button-stable button-block  icon ion-social-facebook"></button>
                <button class="button button-stable button-block  icon ion-social-twitter"></button>
            </div>
        </form>
    </ion-content>
</ion-view>