<ion-view title="{{speaker.name}}">
  <ion-content class="speaker red-polygon">
  	<div class="list card">
  		<div class="item speaker-picture">
  	    <img src="{{speaker.picture}}">
  	  </div>

  	  <div class="item speaker-header">
  	    <h2>{{speaker.title}}</h2>
  	    <p>{{speaker.timestamp | calendar}}</p>
  	  </div>

  	  <div class="item item-body">
  	    <p>{{speaker.text}}</p>
	 	  </div>

	 	  <div class="item tabs tabs-secondary tabs-icon-left">
	 	      
	 	      <a class="tab-item" href="#" ng-show="{{speaker.website}}">
	 	        <i class="icon ion-earth"></i>
	 	        Website
	 	      </a>

	 	      <a class="tab-item" href="#">
	 	        <i class="icon ion-document-text"></i>
	 	        Notes
	 	      </a>
	 	      <a class="tab-item" href="#">
	 	        <i class="icon ion-share"></i>
	 	        Share
	 	      </a>
	 	    </div>

  	</div>
  </ion-content>
</ion-view>