<ion-view view-title="Speakers">
  <ion-content class="red-polygon">

    <div class="list card speaker-list">
      <div class="item item-divider center-header">
        2016 Speakers
      </div>
      <div ng-repeat="speaker in speakers">
        <a href="#/tab/speakers/{{speaker._id}}">
          <div class="item item-avatar">
            <img src="{{speaker.picture}}">
            <h2>{{speaker.name}}</h2>
            <p>{{speaker.title}}</p>
          </div>
        </a>
      </div>
      <div class="item item-divider center-header">
        2016 Performers
      </div>
      <div ng-repeat="speaker in performers">
        <a href="#/tab/speakers/{{speaker._id}}">
          <div class="item item-avatar">
            <img src="{{speaker.picture}}">
            <h2>{{speaker.name}}</h2>
            <p>{{speaker.title}}</p>
          </div>
        </a>
      </div>
    </div>

  </ion-content>
</ion-view>