<ion-tabs class="tabs-dark tabs-icon-top tabs-color-stable" ng-cloak>
 
  <ion-tab title="Guide" icon-on="ion-ios-book" icon-off="ion-ios-book-outline" href="#/tab/guide">
    <ion-nav-view name="tab-guide"></ion-nav-view>
  </ion-tab>
 
  <ion-tab title="Notes" icon-on="ion-document-text" icon-off="ion-document" href="#/tab/notes">
    <ion-nav-view name="tab-notes"></ion-nav-view>
  </ion-tab>
 
  <ion-tab title="Livestream" icon-on="ion-monitor" icon-off="ion-laptop" href="#/tab/live">
    <ion-nav-view name="tab-live"></ion-nav-view>
  </ion-tab>

  <ion-tab title="My Profile" icon-on="ion-person" icon-off="ion-ios-person-outline" href="#/tab/profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>
 
</ion-tabs>