<ion-tabs class="tabs-striped tabs-background-stable tabs-color-assertive" ng-cloak>
 
  <ion-tab title="Home" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>
 
  <ion-tab title="Speakers" icon-on="ion-ios-people" icon-off="ion-ios-people-outline" href="#/tab/speakers">
    <ion-nav-view name="tab-speakers"></ion-nav-view>
  </ion-tab>
 
  <!--
  <ion-tab title="Schedule" icon-on="ion-ios-calendar" icon-off="ion-ios-calendar-outline" href="#/tab/schedule">
    <ion-nav-view name="tab-schedule"></ion-nav-view>
  </ion-tab>
  -->

  <ion-tab title="Event" icon-on="ion-ios-information" icon-off="ion-ios-information-outline" href="#/tab/event">
    <ion-nav-view name="tab-event"></ion-nav-view>
  </ion-tab>
 
</ion-tabs>